<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Page Web</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      body { padding-top:50px; }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body class="container text-center">
    <div class="row">
      <div class="col-4" style="background-color: red;">
        <div class="row" style="background-color: green; height: 45%;">
          <div class="row">
            <div class="col-4">Nhietdo
              <div style="height: 50px; width: 100px; background-color: azure;">
              </div>
            </div>
            <div class="col-8"><%= nhietdo %>*C</div>
          </div>
          <div class="row">
            <div class="col-4">Doam
              <div style="height: 50px; width: 100px; background-color: azure;">
              </div>
            </div>
            <div class="col-8"><%= doam %>%</div>
          </div>
        </div>
        <div class="row" style="background-color: aqua ; height: 55%;">
          <div class="col-6">
            <div style="height: 200px;width: 200px; background-color: azure;">
              <img src="../fullview.png" class="img-fluid">
            </div>
            <div>Quat</div>
            <div class="form-check form-switch ">
              <label for="">on off</label>
              <input class="form-check-input" type="checkbox" value="" id="idFan">
            </div>
          </div>
          <div class="col-6">
            <div style="height: 200px;width: 200px; background-color: azure;">
              <img src="../fullview.png" class="img-thumbnail">
            </div>
            <div>Den</div>
            <div class="form-check form-switch ">
              <label for="">on</label>
              <input class="form-check-input" type="checkbox" value="" id="idLamp">
              <label for="">off</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div id="nhietdo" style="height: 250px; width: 100%; background-color: aliceblue;"></div>
        <div id="doam" style="height: 250px; width: 100%; background-color: antiquewhite;"></div>
      </div>
    </div>
    <br>
    <br>
    <div class="row" style="background-color: yellowgreen;">
      <h1 >The table</h1>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col-3">Time</th>
            <th scope="col-3">First</th>
            <th scope="col-3">Last</th>
            <th scope="col-3">Handle</th>
          </tr>
        </thead>
        <tbody>
          <% mascots.forEach(function(mascot) { %>
            <tr>
              <th scope="row"><%= mascot.name %></th>
              <td>Jac<%= mascot.organization %>ob</td>
              <td><%= mascot.birth_year %></td>
              <td>@mdo</td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../test1.js"></script>
    <!-- <script src="./test.js"></script> -->
  </body>
</html>